telegram-bot-assign-tasks-from-notion-csv/flow.json
[
  {
    "valid": true,
    "id": "c5a58c6836bc19f5",
    "type": "telegram bot",
    "botname": "MayaCsvTaskAssignerBot",
    "usernames": "",
    "chatids": "",
    "baseapiurl": "",
    "updatemode": "polling",
    "pollinterval": "300",
    "usesocks": false,
    "sockshost": "",
    "socksport": "6667",
    "socksusername": "anonymous",
    "sockspassword": "",
    "bothost": "",
    "botpath": "",
    "localbotport": "8443",
    "publicbotport": "8443",
    "privatekey": "",
    "certificate": "",
    "useselfsignedcertificate": false,
    "sslterminated": false,
    "verboselogging": false,
    "module": "node-red-contrib-telegrambot",
    "version": "11.6.0"
  },
  {
    "valid": true,
    "id": "ac8ebef63468ba65",
    "type": "notion-create-page",
    "z": "o6uuY9HAzarFwBP4",
    "name": "Create/Register User",
    "isProfileConfigNode": false,
    "url": "https://www.notion.so/a5ab0fcc36eb4e7bb134dbb6bd60962d?v=cfc06e6f3ec948b18448a9dff0a50171",
    "payloadTypeurl": "str",
    "parent_type": "database",
    "properties": "notionPage",
    "payloadTypeproperties": "msg",
    "children": "{}",
    "payloadTypechildren": "json",
    "icon": "{}",
    "payloadTypeicon": "json",
    "cover": "{}",
    "payloadTypecover": "json",
    "x": 905,
    "y": 725,
    "wires": [
      [
        "530f363a790707be"
      ]
    ],
    "color": "#674C80",
    "darkColor": "#553C6B",
    "module": "maya-red-notion",
    "version": "0.0.1"
  },
  {
    "valid": true,
    "id": "11349f49eef86518",
    "type": "function",
    "z": "o6uuY9HAzarFwBP4",
    "name": "",
    "func": "let successResponse = \"\"; \n\nsuccessResponse += `\\r\\nHello ${msg.originalMessage.from.username} !`;\nsuccessResponse += \"\\r\\nYour chat id is \" + msg.payload.chatId;\nsuccessResponse += \"\\r\\n\";\nsuccessResponse += \"\\r\\nYou have successfully registered!\"\n\n\nmsg.payload.content = successResponse\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 170,
    "wires": [
      [
        "a23c6418cf53969b",
        "fd1a1e36dba04c71"
      ]
    ],
    "color": "#808080",
    "darkColor": "#6A6A6A",
    "module": "node-red",
    "version": "2.0.6-git"
  },
  {
    "valid": true,
    "id": "b2e351fa25f44343",
    "type": "debug",
    "z": "o6uuY9HAzarFwBP4",
    "name": "help response payload",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 785,
    "y": -250,
    "wires": [],
    "color": "#674C80",
    "darkColor": "#553C6B",
    "module": "node-red",
    "version": "2.0.6-git"
  },
  {
    "valid": true,
    "id": "f2d4241ec16a32c9",
    "type": "function",
    "z": "o6uuY9HAzarFwBP4",
    "name": "",
    "func": "let helpMessage = \"/help - shows help\";\n\nhelpMessage += \"\\r\\n/start - register yourself\";\n\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"\\r\\nYou are welcome: \"+ msg.originalMessage.from.username;\nhelpMessage += \"\\r\\nYour chat id is \" + msg.payload.chatId;\nhelpMessage += \"\\r\\n\";\n\nmsg.payload.content = helpMessage\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 550,
    "y": -185,
    "wires": [
      [
        "475c194dfa61a12a",
        "b2e351fa25f44343"
      ]
    ],
    "color": "#674C80",
    "darkColor": "#553C6B",
    "module": "node-red",
    "version": "2.0.6-git"
  },
  {
    "valid": true,
    "id": "a23c6418cf53969b",
    "type": "debug",
    "z": "o6uuY9HAzarFwBP4",
    "name": "/start response payload",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 760,
    "y": 70,
    "wires": [],
    "color": "#996F6F",
    "darkColor": "#905454",
    "module": "node-red",
    "version": "2.0.6-git"
  },
  {
    "valid": true,
    "id": "fd1a1e36dba04c71",
    "type": "telegram sender",
    "z": "o6uuY9HAzarFwBP4",
    "name": "",
    "bot": "c5a58c6836bc19f5",
    "haserroroutput": false,
    "outputs": 1,
    "x": 750,
    "y": 285,
    "wires": [
      []
    ],
    "color": "#996F6F",
    "darkColor": "#905454",
    "module": "node-red-contrib-telegrambot",
    "version": "11.6.0"
  },
  {
    "valid": true,
    "id": "c40484062df69208",
    "type": "debug",
    "z": "o6uuY9HAzarFwBP4",
    "name": "/start debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 555,
    "y": 0,
    "wires": [],
    "color": "#808080",
    "darkColor": "#6A6A6A",
    "module": "node-red",
    "version": "2.0.6-git"
  },
  {
    "valid": true,
    "id": "4d994ca78ea799dd",
    "type": "telegram command",
    "z": "o6uuY9HAzarFwBP4",
    "name": "/start",
    "command": "/start",
    "description": "",
    "registercommand": false,
    "language": "",
    "scope": "default",
    "bot": "c5a58c6836bc19f5",
    "strict": false,
    "hasresponse": true,
    "useregex": false,
    "removeregexcommand": false,
    "outputs": 2,
    "x": 330,
    "y": 45,
    "wires": [
      [
        "c40484062df69208",
        "11349f49eef86518"
      ],
      []
    ],
    "color": "#AE9554",
    "darkColor": "#9E8647",
    "module": "node-red-contrib-telegrambot",
    "version": "11.6.0"
  },
  {
    "valid": true,
    "id": "e4b91e9970abb601",
    "type": "telegram command",
    "z": "o6uuY9HAzarFwBP4",
    "name": "/help",
    "command": "/help",
    "description": "",
    "registercommand": false,
    "language": "",
    "scope": "default",
    "bot": "c5a58c6836bc19f5",
    "strict": false,
    "hasresponse": true,
    "useregex": false,
    "removeregexcommand": false,
    "outputs": 2,
    "x": 345,
    "y": -285,
    "wires": [
      [
        "f2d4241ec16a32c9"
      ],
      []
    ],
    "color": "#6F7F99",
    "darkColor": "#526788",
    "module": "node-red-contrib-telegrambot",
    "version": "11.6.0"
  },
  {
    "valid": true,
    "id": "475c194dfa61a12a",
    "type": "telegram sender",
    "z": "o6uuY9HAzarFwBP4",
    "name": "Help Response",
    "bot": "c5a58c6836bc19f5",
    "haserroroutput": false,
    "outputs": 1,
    "x": 780,
    "y": -105,
    "wires": [
      []
    ],
    "color": "#996F6F",
    "darkColor": "#905454",
    "module": "node-red-contrib-telegrambot",
    "version": "11.6.0"
  },
  {
    "valid": true,
    "id": "4746a5802c0a9f1d",
    "type": "inject",
    "z": "o6uuY9HAzarFwBP4",
    "name": "Test inject data into notion table",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payloadType": "date",
    "x": 330,
    "y": 495,
    "wires": [
      [
        "c24391d2c1b2e9aa"
      ]
    ],
    "color": "#6F7F99",
    "darkColor": "#526788",
    "module": "node-red",
    "version": "2.0.6-git"
  },
  {
    "valid": true,
    "id": "c24391d2c1b2e9aa",
    "type": "function",
    "z": "o6uuY9HAzarFwBP4",
    "name": "Create Page Template",
    "func": "const pageTemplate = {\n    Username: {\n        title: [\n            {\n                type: \"text\",\n                text: {\n                    content: \"my_user_name\",\n                }\n            }\n        ],\n    },\n    ChatId: {\n        number: 12345, \n    },\n    Created: {\n        date: {\n            start: new Date().toISOString(),\n        },\n    },\n}\n\nmsg.notionPage = pageTemplate\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 600,
    "y": 600,
    "wires": [
      [
        "572781c29e29eea1",
        "ac8ebef63468ba65"
      ]
    ],
    "color": "#808080",
    "darkColor": "#6A6A6A",
    "module": "node-red",
    "version": "2.0.6-git"
  },
  {
    "valid": true,
    "id": "572781c29e29eea1",
    "type": "debug",
    "z": "o6uuY9HAzarFwBP4",
    "name": "debug page payload",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 885,
    "y": 495,
    "wires": [],
    "color": "#adadad",
    "darkColor": "#808080",
    "module": "node-red",
    "version": "2.0.6-git"
  },
  {
    "valid": true,
    "id": "530f363a790707be",
    "type": "debug",
    "z": "o6uuY9HAzarFwBP4",
    "name": "debug create page response",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1155,
    "y": 615,
    "wires": [],
    "color": "#6F7F99",
    "darkColor": "#526788",
    "module": "node-red",
    "version": "2.0.6-git"
  },
  {
    "id": "o6uuY9HAzarFwBP4",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": "",
    "in": [],
    "out": [],
    "changed": false,
    "module": null,
    "version": null
  }
]
